body{
	font-family: Arial, sans-serif;
}

/*шапка сайта*/

nav{
	width: 100%;
	height: 60px;
	background: #008c9e;
	position: fixed;
	z-index: 3;
}

.logo{
	color: #fff;
	font-size: 28px;
	margin-left: 188px;
	padding-top: 5px;
}

.menu {
	float: left;
	padding-left: 732px;
	margin-top: -30px;
}

.menu li{
	float: left;
	/*line-height: 60px;*/
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.menu_burger{
	padding-left: 800px;
	margin-top: -35px;
	
}

/*Первый блок (Главный блок. Имя и картинки)*/

.first{
	background: url(../img/art3.png)900px 200px /auto 60% no-repeat;
	/*url(../img/wood-gb6c6a11ae_1920.jpg) center/cover fixed;*/
	width: 100%;
	height: 750px;
	background-color: #fff;
	-webkit-box-shadow: 0px -13px 5px -4px rgba(34, 60, 80, 0.17) inset;
	-moz-box-shadow: 0px -13px 5px -4px rgba(34, 60, 80, 0.17) inset;
	box-shadow: 0px -13px 5px -4px rgba(34, 60, 80, 0.17) inset;
	
}

.title__container{
	float: left;
	margin: 290px 0px 0px 245px;
	color: #0093a1;
	text-align: center;
}

.title__container h1 {
	font-size: 60px;
	font-weight: bold;

}

.title__container h4 {
	margin-top: 30px;
	font-size: 22px;

}

.title__container button {
	font-size: 16px;
	margin-top: 30px;
	margin-left: 10px;
	
}

/*Второй блок (Обо мне)*/

.second {
	background: url(../img/prog.png)600px 150px/auto 50% no-repeat;
	width: 100%;
	height: 500px;
	z-index: 3;
}

.second h2 {
	margin-top: 60px;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #0093a1;
	

}

.second h4 {
	text-align: center;
	font-size: 14px;
	margin-top: 60px;
}

.second button {
	text-align: center;
	margin-left: 699px;
	margin-top: 300px;
}

/*Тетий блок (Что я умею)*/

.three {
	background: url(../img/граммофон.png)1260px 200px /auto 10% no-repeat,
				url(../img/ракета.png)980px 200px /auto 10% no-repeat,
				url(../img/знак.png)615px 200px /auto 10% no-repeat,
				url(../img/ноут.png)300px 200px /auto 10% no-repeat,
				url(../img/kartinkafona.jpg)0px 0px /auto 100% no-repeat fixed;
	width: 100%;
	height: 450px;

	-webkit-box-shadow: 0px 17px 11px -5px rgba(34, 60, 80, 0.27) inset;
	-moz-box-shadow: 0px 17px 11px -5px rgba(34, 60, 80, 0.27) inset;
	box-shadow: 0px 17px 11px -5px rgba(34, 60, 80, 0.27) inset;
}

.three h2 {
	padding-top: 50px;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;	
	color: #0093a1;
}

/*подзаголовки*/

.typeA p {
	margin-top: 190px;
	margin-left: 270px;
	font-size: 24px;
	color: #0093a1;
}

.typeB p {
	margin-top: -50px;
	margin-left: 580px;
	font-size: 24px;
	color: #0093a1;
}

.typeC p {
	margin-top: -50px;
	margin-left: 890px;
	font-size: 24px;
	color: #0093a1;
}

.typeD p {
	margin-top: -50px;
	margin-left: 1220px;
	font-size: 24px;
	color: #0093a1;
}

/*текст под мини-заголовками*/

.perviy p {
	margin-top: 30px;
	margin-left: 260px;
}

.vtoroi p {
	margin-top: -77px;
	margin-left: 570px;
}

.tretyi p {
	margin-top: -77px;
	margin-left: 900px;
}

.chetvertiy p {
	margin-top: -77px;
	margin-left: 1220px;
}






/*Четвертый блок (Кейсы)*/

.case {
	background: 
				url(../img/fonka.png)0px 200px /auto 75% no-repeat;
	width: 100%;
	height: 850px;
}

.case h2 {
	padding-top: 50px;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #0093a1;
}

.case p {
	text-align: center;
	padding-top: 50px;
	text-transform: uppercase;

}

/*надписи под картинкой кейсов*/

.client h3 {
	margin-top: 500px;
	padding-left: 300px;
	color: #00687f;
}

.client p {
	margin-left: -765px;
	margin-top: -50px;
}

.website h3 {
	padding-top: 0px;
	padding-left: 300px;
	color: #00687f;
}

.website p {
	margin-left: -740px;
	margin-top: -50px;
}

.nameProjeckt h3 {
	padding-left: 800px;
	margin-top: -165px ;
	color: #00687f;
}

.combo p {
	padding-left: 278px;
	margin-top: -45px;
}

.website button {
	margin-left: 300px;
}

/*Пятый кейс (Расчет стоимости)*/

.moneyblock {
	background: url(../img/wing.png)1200px 270px /auto 30% no-repeat,
				url(../img/cerkon.png)100px 240px /auto 35% no-repeat;
	/*background-color: rgb(247, 247,247);*/
	
}

.moneyblock h2 {
	padding-top: 100px;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #0093a1;
}

.firstPoint {
	padding-left: 400px;
	padding-right: 400px;
	padding-top: 50px;
}

.secondPoint {
	padding-left: 400px;
	padding-right: 400px;
	padding-top: 50px;
}

.theePoint {
	padding-left: 400px;
	padding-right: 400px;
	padding-top: 50px;
}

.sroki h3 {
	padding-top: 50px;
	padding-left: 402px;
}

.sroki p {
	padding-left: 1110px;
	margin-top: -30px;
	font-weight: 800;
	font-size: 22px;
}

.price h3 {
	padding-top: 10px;
	padding-left: 402px;
}

.price p {
	padding-left: 1110px;
	margin-top: -30px;
	font-weight: 800;
	font-size: 22px;
}

/*Шестой блок (Статистика)*/

.textUnderSix {
	background: url(../img/фон.jpg)0px 0px /cover no-repeat;
	height: 400px;
	width: 100%;
}

.textUnderSix h2 {
	padding-top: 80px;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #0093a1;
}

.A p {
	padding-left: 1250px;
	padding-top: 150px;
	font-weight: bold;
	font-size: 24px;
}

.b p {
	padding-left: 900px;
	margin-top: -45px;
	font-weight: bold;
	font-size: 24px;
}

.c p {
	font-weight: bold;
	font-size: 24px;
	padding-left: 600px;
	margin-top: -50px;
}

.d p {
	font-weight: bold;
	font-size: 24px;
	padding-left: 300px;
	margin-top: -50px;	
}

.myStatCLient p {
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 200px;
}

.myStatCLientTwo p {
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 560px;	
	margin-top: -35px;
}

.myStatCLientTree p {
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 820px;	
	margin-top: -37px;
}

.myStatCLientFour p {
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 1190px;
	margin-top: -40px;
}

/*.textUnderSix li{
	float: left;
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 160px;
	font-weight: bold;
	color: black;
}*/



/*Седьмой блок (Отзывы)*/

.reviews {
	background: url(../img/copy.png) 790px 380px /auto 2% no-repeat,
				url(../img/копия.png) 755px 380px /auto 2% no-repeat,
				url(../img/Оранж.png) 720px 380px /auto 2% no-repeat,
				url(../img/img_442292.png) 729px 120px /auto 25% no-repeat;
	height: 500px;
}

.reviews h2 {
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px;
	color: #0093a1;
}

.reviews p {
	text-align: center;
	font-size: 16px;
	padding-top: 200px;
}

.underR h3 {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;

}


/*Восьмой блок (Контакты)*/

.contackt {
	width: 100%;
	height: 700px;
	background: url(../img/tryba.png)1010px 220px /auto 5% no-repeat,
				url(../img/konvert.png)480px 220px /auto 5% no-repeat,
				url(../img/pgpgpgp.jpg)0px 0px /auto 120% no-repeat;
}

.contackt h2 {
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding-top: 50px;
	color: #fff;
}

.contackt p {
	text-align: center;
	font-size: 16px;
	padding-top: 20px;
	color: white;
}

.underContackt li {
	float: left;
	color: white;
	padding-top: 120px;
	padding-left: 360px;
}

.nadpis h3 {
	text-align: center;
	color: white;
	padding-top: 200px;
	margin: 0px 0px 15px 0px;
}

.input-group {
	padding-left: 500px;
	padding-right: 500px;
}

.mb-3 {
	padding-left: 500px;
	padding-right: 500px;
}

.contackt button {
	margin-top: 25px;
	margin-left: 730px;
}

/*подвал*/

.footer {
	width: 100%;
	height: 50px;
	background: #008c9e;
}

.footer p {
	color: white;
	text-align: center;
	padding-top: 10px;
	font-size: 12px;
}



